html{
    background-color: rgb(24, 69, 59);

}
body{
    margin: 0%;
}
header {
    background-color: #333333;
    padding: 10px;
    height: 5vh;
}
.Center {
    border: cyan solid;
}
main{
    background-color: rgb(0, 130, 8);
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100vh;
    padding: 0px;
}
.About {
    border-bottom: 5px solid black;
}
.Project {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2.5%;
    padding: 5px 5px 5px 5px;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
}
