html{
    background-color: rgb(24, 69, 59);
    font-size: 16px;
    font-family:'Courier New', Courier, monospace
}
* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

nav {
    background-color: #333333;
    border: 2px solid blue;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    /*Alligning the nav anchors to my h1 */
    align-items: center;
    display: flex;
    /*use justify content to space my 2 pieces of my header apart */
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}
a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px 10px;
    text-decoration: none;

}
.index{
    height: 100vh;
    border: 5px solid red;
    padding: 85px 24px;
    justify-content: space-between;
}

.main{
    background-color: rgb(248, 252, 248);
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100vh;
    padding: 10px;
    align-items: center;
}
.About {
    border-bottom: 5px solid black;
    display: grid;
}
.Project {
    background-color: rgb(24, 69, 59);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2.5%;
    padding: 5px 5px 5px 5px;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    color: white;
}
.active{
    border-bottom: 1px solid white;
}